@import url("./variable.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* header section */
nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  z-index: 1000;
  position: sticky;
  top: 0px;
  background-color: var(--color-white);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 86px;
}
.container .logo {
  padding: 0px 26px;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 3px solid #eeeeee;
}
.location,
.search-bar,
.login,
.cart {
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}
.location .location-title {
  font-size: 22px;
  font-weight: var(--fw-800);
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}
.location .location-desc {
  font-size: 10px;
}
.location .fa-caret-down {
  transform: translateY(-2px);
  margin-left: 5px;
}

.search-bar {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background: var(--color-grey-2);
  color: var(--color-grey);
  width: 38%;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.search-bar .search-input {
  width: 100%;
}
.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  align-items: center;
}

.search-bar .fa-magnifying-glass {
  width: 20px;
  color: var(--color-black);
}

.login > a {
  font-size: 18px;
  color: var(--color-grey-3);
  font-weight: var(--fw-400);
  text-decoration: none;
}

.container .cart .fa-cart-shopping {
  margin-inline: 5px;
  cursor: pointer;
}
.container .cart > button {
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 18px;
  font-weight: var(--fw-700);
  padding: 16px;
  border-radius: 10px;
  border: none;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* main section */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.main-container {
  max-width: 90%;
}

.main-container .banner-1 .img {
  max-width: 100%;
  height: 100%;
}
.main-container .banner-2 {
  display: flex;
  gap: 20px;
  overflow: auto scroll;
  margin: 0 14px;
}

.banner-2 .banner-img img {
  height: 165px;
  width: 285px;
}

::-webkit-scrollbar {
  display: none;
}

.categories .section-3-img {
  display: flex;
  flex-direction: column;
}

.section-3-img .line-1 {
  display: flex;
  overflow: scroll;
}
.section-3-img .line-2 {
  display: flex;
  overflow: scroll;
}
.section-3-img img {
  /* max-width: 100%; */
  height: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 12px 25px;
  row-gap: 20px;
}
.items .title {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.title .category-name {
  font-weight: var(--fw-600);
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.title a {
  text-decoration: none;
  color: var(--color-green);
  line-height: 32px;
  font-size: 20px;
}
.list-items {
  display: flex;
  column-gap: 20px;
  overflow: auto scroll;
  /* justify-content: space-evenly; */
}

.list-items .item {
  /* width: 500px; */
  border: 0.5px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
  border-radius: 8px;
  padding: 20px;
}
.item .item-img img {
  /* max-width: 100%; */
}
.item-details{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: space-evenly;
}
.item-details .timer{
  font-size: 12px;
  background-color: var(--color-grey-2);
  width: 30%;
  padding: 6px;
  font-weight: var(--fw-400);
}

.item-details .item-name{
  font-size: 18px;
  font-weight: var(--fw-400);
  letter-spacing: 0.5px;
}

.item-details .item-weight{
  font-size: 18px;
  color: var(--color-grey);
}
.item-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-price .price{
  font-size: 18px;
  font-weight: var(--fw-600);
}
.item-price button{
  font-size: 18px;
  font-weight: var(--fw-800);
  text-transform: uppercase;
  padding: 10px 20px;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 8px;
  background-color: var(--color-lightest-green);

}
footer {
  text-align: center;
  margin: 20px 30px;
  padding: 10px 20px;
}
@media screen and (max-width:1024px) {
  .container .search-bar{
    display: none;
  }
  .container .login {
    display: none;
  }
  .container .cart {
    display: none;
  }
  .location .location-title{
    font-size: 100%;
  }
  .location .location-desc {
    font-size: 100%;
  }
  .container {
    margin: 20px 5px;
  }
  .container .logo {
    /* display: none; */
    max-width: 40%;
  }
  nav {
    position: relative;
  }
  .banner-2 {
    margin: 0px 0px;
  }
  .items .title {
    padding: 0px 0px;
    }
    .items .title .category-name {
      font-size: 100%;
    }
    .items .title a {
      font-size: 100%;
    }
}